.cart-view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.cart-list {
  display: flex;
  flex-direction: column;
  margin: 3.25% 3%;
  padding: 0;
}

.cart-resume {
  display: flex;
  flex-direction: row;
  margin: 1% 2% 0%;
  padding: 1% 2%;
  justify-content: space-between;
  font-size: x-large;
  background-color: var(--light-primary-color);
}

.cart-resume button {
  width: 15%;
  font-size: large;
  border-radius: 0.5em;
  border: 3px solid var(--divider-color);
  background-color: var(--light-primary-color);
  cursor: pointer;
}

.root-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  text-decoration: none;
  color: var(--text-primary-color);
}
