.input {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 0.2em;
}

.input label {
  width: 3.5em;
}

.input input {
  width: 30em;
  padding: 0.5em;
  border: 1px solid var(--divider-color);
  border-radius: 0.5em;
  outline: none;
}
