.product-item {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 25em;
  min-height: 25em;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.2em 0.3em 0.02em;
  border: hidden;
  border-radius: 0.5em;
  background-color: var(--light-primary-color);
  cursor: pointer;
}

.product-item:hover {
  height: auto;
}

.product-category {
  order: 2;
  padding: 0;
  margin: 0;
  height: 0;
  display: flex;
}

.product-name {
  order: 3;
  max-width: 100%;
  max-height: 20%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-name:hover {
  order: 3;
  max-width: 100%;
  max-height: 20%;
  white-space: normal;
  overflow: visible;
}

.product-price {
  order: 4;
  max-width: 70%;
  max-height: 20%;
}

.product-image {
  order: 1;
  width: 15em;
  height: 17em;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
}

.detail-link {
  text-decoration: none;
  color: var(--text-primary-color);
}

.active-detail-link {
}
