.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 7em;
  background-color: var(--default-primary-color);
	color: var(--text-primary-color);
}

.logo-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

