:root {
  --dark-primary-color: #689F38;
  --default-primary-color: #8BC34A;
  --light-primary-color: #DCEDC8;
  --text-primary-color: #212121;
  --accent-color: #00BCD4;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
}

.App {
  display: flex;
  flex-direction: column;
}
