.nav-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 0.5em;
}

.nav-menu-list {
  display: flex;
  list-style-type: none;
  margin: 3%;
}

.nav-menu-item {
  padding: 0.2em 0.5em;
}
